* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

.banner{
  height: 50px;
}

span {
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  overflow: auto;
}

.footer {
  padding: 20px 15px;
  margin-top: auto;
  justify-content: space-between;
}

.container ul li {
  border-radius: 6px;
  margin: 5px 0;
  justify-content: space-between;
  padding: 10px 5px;
  border: 1px solid blue;
}

input {
  width: 75%;
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
}

button {
  padding: 10px 15px;
}

.cmd span i {
  padding-left: 5px;
}

.item-done {
  /* background-color: lightgrey; */
  color: black;
  text-decoration: line-through;
}
